# burritocoind RPC settings (linearize-hashes)
rpcuser=someuser
rpcpassword=somepassword
#datadir=~/.burritocoin
host=127.0.0.1

#mainnet default
port=9226

#testnet default
#port=19226

#regtest default
#port=19553

#signet default (signet not yet supported by BurritoCoin)
#port=39226

# bootstrap.dat hashlist settings (linearize-hashes)
max_height=313000

# bootstrap.dat input/output settings (linearize-data)

# mainnet
netmagic=4252544f
genesis=44615751d966cf772a051f65b8df4f3987adc48be1749a699369a18517418dce
input=/home/example/.burritocoin/blocks

# testnet
#netmagic=4252544e
#genesis=b909940074cb31d9b421483f3a65f3f049e20d3448641128bd07c675ba55f53f
#input=/home/example/.burritocoin/testnet4/blocks

# regtest
#netmagic=42525447
#genesis=c85abc7b5671cab1c04ca19cbd99a6ea6e22043e7007e4cd0e9c66b8177e8991
#input=/home/example/.burritocoin/regtest/blocks

# signet (not yet supported by BurritoCoin)

# "output" option causes blockchain files to be written to the given location,
# with "output_file" ignored. If not used, "output_file" is used instead.
# output=/home/example/blockchain_directory
output_file=/home/example/Downloads/bootstrap.dat
hashlist=hashlist.txt

# Maximum size in bytes of out-of-order blocks cache in memory
out_of_order_cache_sz = 100000000

# Do we want the reverse the hash bytes coming from getblockhash?
rev_hash_bytes = False

# On a new month, do we want to set the access and modify times of the new
# blockchain file?
file_timestamp = 0
# Do we want to split the blockchain files given a new month or specific height?
split_timestamp = 0

# Do we want debug printouts?
debug_output = False
